<div class="side-navbar">
  <div class="text-center" style="margin-top:25%;">
          <img src="/assets/images/profile-picture.jpg" class=" rounded-circle profile-image " alt="profile-picture">
          <h4 class="card-title">Shailendra Singh</h4>
          <h6 class="card-subtitle mb-3 text-muted">Pune, Maharashtra, India</h6>
          <p class="card-text">
              <span class="tags">Angular</span>
              <span class="tags">C# </span> 
              <span class="tags">.NET MVC</span>
              <span class="tags">Java Core</span>
              <span class="tags">JavaScript</span>
          </p>
          <a href="https://drive.google.com/file/d/18e8ohQG1S4gSQmLn4ldid00qOhWhUD3z/view?usp=sharing" download class="btn btn-primary">Resume</a>
          <a href="https://linkedin.com/in/shailendrasingh27/" target="_blank" class="btn btn-primary">Linkedin</a>
  </div>
</div>