<div class="parent" style="background-color:cyan">
  <!--About tag start-->
  <div class="card mb-5">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <h4 class="card-title">Hello, I am <b>SHAILENDRA SINGH</b></h4>
      <h6 class="card-subtitle mb-3 text-muted">Senior Software Engineer @Infosys Ltd.</h6>
      <p class="card-text">Experienced Senior System Engineer with a demonstrated history of working in the information technology and services industry.
        Skilled in C#, .NET MVC, SQL server 2012, JavaScript and Angular.
        Strong information technology professional with a Master’s Degree focused in Computer Science from Graphic Era University, Dehradun.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!--About tag Finish-->

  <!--Another tag start-->
  <div class="card mb-4">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!--About tag Finish-->
</div>