<div class="parent" style="background-color:cyan">
  <!--About tag start-->
  <div class="card mb-5">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <h4 class="card-title">Hello, I am <b>SHAILENDRA SINGH</b></h4>
      <h6 class="card-subtitle mb-3 text-muted">Senior Software Engineer @Infosys Ltd.</h6>
      <p class="card-text">Experienced Senior System Engineer with a demonstrated history of working in the information technology and services industry.
        Skilled in C#, .NET MVC, SQL server 2012, JavaScript and Angular.
        Strong information technology professional with a Master’s Degree focused in Computer Science from Graphic Era University, Dehradun.
      </p>
      
    </div>
  </div>
  <!--About tag Finish-->

  <!--Experience tag start-->
  <div class="card mb-5">
    <h5 class="card-header">Experience</h5>
    <div class="card-body">      
      <h6 class="card-title">Infosys: 2 Years 6 Months</h6>
      <h6 class="card-subtitle">Senior System Engineer</h6>
      <p class="card-text">
        Working for a global US brand for developing an easy and hassle free system.
        A system which helps client to manage the new product launch or upgrade of an already existing project in the market.
        <br>
        As a System Engineer my role is to gather and understand the business requirements carefully and develop a code and test it for all the possible failure and ensure that it fits all the requirement defined by business.
      </p>
    </div>

  </div>
  <!--Experience tag Finish-->

  <!--Education tag start-->
  <div class="card mb-5">
      <h5 class="card-header">Education</h5>
    <div class="card-body">
        <ul class="nav-tabs nav">
             <li class="nav-item">
               <a data-toggle="tab" class="nav-link" [class.active]="isMCAActive" (click)="onClickMCA()">  MCA</a>
             </li>
             <li class="nav-item">
                <a data-toggle="tab" class="nav-link" [class.active]="isBCAActive" (click)="onClickBCA()"> BCA</a>
              </li>
              <li class="nav-item">
                  <a data-toggle="tab" class="nav-link" [class.active]="isXIIActive" (click)="onClickXII()"> XII</a>
              </li>                          
        </ul>
        <div class="tab-content">
          <div [class.d-none]="!isMCAActive">MCA</div>
          <div [class.d-none]="!isBCAActive">BCA</div>
          <div [class.d-none]="!isXIIActive">XII</div>
        </div>
            
    </div>
  </div>
  
  <!--Education tag Finish-->


  
  <!--Experience tag start-->
  <div class="card mb-5">
    <h5 class="card-header">Experience</h5>
    <div class="card-body">      
      <h6 class="card-title">Infosys: 2 Years 6 Months</h6>
      <h6 class="card-subtitle">Senior System Engineer</h6>
      <p class="card-text">
        Working for a global US brand for developing an easy and hassle free system.
        A system which helps client to manage the new product launch or upgrade of an already existing project in the market.
        <br>
        As a System Engineer my role is to gather and understand the business requirements carefully and develop a code and test it for all the possible failure and ensure that it fits all the requirement defined by business.
      </p>
    </div>

  </div>
  <!--Experience tag Finish-->

</div>


